@import '@style/variable.scss';

.ant-modal-content {

  .ant-modal-header {
    padding: 8px 24px;
  }

  .ant-modal-close {
    .ant-modal-close-x {
      height: 38px;
      line-height: 38px;
    }
  }

  .ant-modal-body {
    padding: 8px 24px;
  }

  .ant-modal-footer {
    padding: 8px 16px;
    button {
      border-radius: 12px;
    }
  }
}

.app-edit-form_1 {
  .ant-form-item {
    margin-bottom: 0px;
  }

  .ant-input-number {
    width: 100%;
  }
}

.app-table_pagination {
  .ant-pagination {
    margin-top: 8px;
    margin-right: 30px;
    text-align: right;

    .ant-select-selector {
      width: 60px;
    }
  }
}