@import '@style/variable.scss';

.ant-modal-content {

  .ant-modal-header {
    padding: 8px 24px;
  }

  .ant-modal-close {
    .ant-modal-close-x {
      height: 38px;
      line-height: 38px;
    }
  }

  .ant-modal-body {
    padding: 8px 24px;
  }

  .ant-modal-footer {
    padding: 8px 16px;
    button {
      border-radius: 12px;
    }
  }
}

.app-edit-form_1 {
  .ant-form-item {
    margin-bottom: 0px;
  }

  .ant-input-number {
    width: 100%;
  }
}

.app-edit-form_2 {
  .ant-form-item {
    margin-bottom: 0px;
  }
  .ant-form-item-label {
    width: 100px;
    text-align: center;
  }
  .ant-form-item-control-wrapper {
    width: calc(100% - 100px);
  }

  .ant-form-item-control {
    width: 100%;
  }

  .ant-input-number {
    width: 100%;
  }
}

.app-param-form_1 {
  .ant-form-item-label {
    min-width: 70px;
  }
}

.app-param-form_2 {
  .app-param-form-item_range {
    width: 446px;

    .ant-form-item-control-wrapper {
      width: 360px;

      .ant-calendar-picker {
        width: 100%;
      }

      .ant-form-item-control {
        width: 100%;
      }
    }
  }

  .app-param-form-item_num {
    width: 446px;

    .ant-form-item-control-wrapper {
      width: 360px;

      .ant-form-item-control {
        width: 100%;

        input {
          width: 170px;
        }

        .ant-input-number {
          width: 170px;
        }

        .app-param-form-item_sep {
          display: inline-block;
          width: 18px;
          text-align: center;
          color: $app-main-font-placeholder;
        }
      }
    }
  }

  .ant-form-item-label {
    width: 85px;
  }
}

.app-table_pagination {
  .ant-pagination {
    margin-top: 8px;
    margin-right: 30px;
    text-align: left;

    .ant-select-selector {
      width: 60px;
    }
  }
}

.ant-form-inline {
  .ant-form-item {
    .ant-form-item-control {
      width: 180px;
    }
  }
}

.app-data-placeholder {
  color: $app-main-font-placeholder;
  font-size: .9em;
  line-height: 1.5em;
}