@import '@style/variable.scss';

.app-con {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-con-qurey {
  
  button {
    float: right;
    border-radius: 10px;
    margin: 5px;
  }
}

.app-con-main {
  flex: 1;
}