@import '@style/variable.scss';

.app-con {
  display: flex;
  flex-direction: column;
  position: relative;
}

.app-con-qurey {
  
  button {
    float: right;
    border-radius: 12px;
    margin: 5px;
  }
}

.app-con-main {
  flex: 1;
  overflow: auto;
}