$app-main-font-placeholder: #d9d9d9;
$app-main-font-main: #409eff;
$app-main-border-color: #f2f3f4;
$app-main-border-color_cur: #f56c6c;

$app-color-fiance-margine: 0;
$app-font-fiance-integer: 1em;
$app-font-fiance-currency: .7em;
$app-font-fiance-decimal: .7em;